<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logConfig" type="PhotoTimeSync.Logging.Configuration.LogConfig, PhotoTimeSync"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PhotoTimeSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <logConfig>
    <rotatingLogs>
      <rotatingLog baseFilePath="%%CommonApplicationData%%\Oviles\PhotoTimeSync\PhotoTimeSync.log" maxLogEntriesPendingInMemory="100" nbRotatingFiles="5" eachFileMaxSize="500000">
        <switches>
          <switch displayName="All Info" description="Log all info or above in rotating file" level="Verbose"/>
        </switches>
      </rotatingLog>
    </rotatingLogs>
  </logConfig>
  <userSettings>
    <PhotoTimeSync.Properties.Settings>
      <setting name="UserLanguage" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TotalPhotosCorrected" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TotalAlbumsCorrected" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UserGUID" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="TotalPhotosInError" serializeAs="String">
        <value>0</value>
      </setting>
    </PhotoTimeSync.Properties.Settings>
  </userSettings>
</configuration>